<!DOCTYPE html>
  <head>
    <title>Orthosie Inventory Management</title>
    <link rel='stylesheet' type='text/css' href='/static/css/inventory.css' />
    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <script type="text/javascript" src="/static/js/inventory.js"></script>
    <meta charset="UTF-8" />
  </head>
  <body>
    <form id="csrf_token">
{% csrf_token %}
    </form>
    <table id="inventory_list">
      <tbody>
{% for inventory in inventory_items %}
        <tr id="{{ inventory.upc }}" class="inventory_row">
          <td id="{{ inventory.upc }}_upc" class="inventory_upc">{{ inventory.upc }}</td>
          <td id="{{ inventory.upc }}_vendor_name" class="inventory_vendor_name"><span id="{{ inventory.upc }}_vendor" onclick="Orthosie.inventory.edit_vendor('{{ inventory.upc }}');">{{ inventory.vendor.name }}</span> <span id="{{ inventory.upc }}_name" onclick="Orthosie.inventory.edit_name('{{ inventory.upc }}');">{{ inventory.name }}</span></td>
          <td id="{{ inventory.upc }}_price" class="inventory_price" onclick="Orthosie.inventory.edit_price('{{ inventory.upc }}');">{{ inventory.price }}</td>
          <td id="{{ inventory.upc }}_scalable" class="inventory_scalable" onclick="Orthosie.inventory.toggle_scalable('{{ inventory.upc }}');">{{ inventory.scalable|yesno:"Scalable, Non-Scalable," }}</td>
          <td id="{{ inventory.upc }}_taxable" class="inventory_taxable" onclick="Orthosie.inventory.toggle_taxable('{{ inventory.upc }}');">{{ inventory.taxable|yesno:"Taxable, Non-Taxable," }}</td>
        </tr>
{% endfor %}
        <tr>
          <td id="input_upc" class="inventory_upc">
            <input type="text" required pattern="\d+" placeholder="upc" onblur="Orthosie.inventory.new_inventory();" />
          </td>
          <td id="input_vendor_name" class="inventory_vendor_name">
            <span id="input_vendor">
              <input type="text" required placeholder="Vendor" onblur="Orthosie.inventory.new_inventory();" />
            </span>
            <span id="input_name">
              <input type="text" required placeholder="Name" onblur="Orthosie.inventory.new_inventory();" />
            </span>
          </td>
          <td id="input_price" class="inventory_price">
            <input type="number" required placeholder="Price" step="0.01" min="0" onblur="Orthosie.inventory.new_inventory();" />
          </td>
          <td id="input_scalable" class="inventory_scalable">Non-Scalable</td>
          <td id="input_taxable" class="inventory_taxable">Taxable</td> 
        </tr>
      </tbody>
    </table>
    <span id="add_inventory" onclick='Orthosie.inventory.new_inventory_row();'>+</span>
  </body>
</html>
