/*
    Copyright 2013 Jack David Baucum

    This file is part of Orthosie.

    Orthosie is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Orthosie is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Orthosie.  If not, see <http://www.gnu.org/licenses/>.
*/

#inventory_list {
  table-layout: fixed;
  width: 100%;
  border-spacing: 0px;
  padding: 0px;
  width: 810px;
  display: block;
}

.inventory_row {
  height: 40px;
  cursor: pointer;
  min-height: 21px;
}

.inventory_upc {
  vertical-align: middle;
  font-size: 80%;
  border-bottom: 1px #e5e5e5 solid;
  empty-cells: show;
  white-space: nowrap;
  font-family: arial, sans-serif;
  width: 100px;
  padding: 2px 2px 0px 10px;
  float: left;
  overflow: hidden;
  text-overflow: ellipsis;
  min-height: 21px;
}

.inventory_vendor_name {
  vertical-align: middle;
  font-size: 80%;
  border-bottom: 1px #e5e5e5 solid;
  empty-cells: show;
  white-space: nowrap;
  font-family: arial, sans-serif;
  width: 400px;
  font-weight: bold;
  padding: 2px 2px 0px 10px;
  float: left;
  overflow: hidden;
  text-overflow: ellipsis;
  min-height: 21px;
}

.inventory_price {
  vertical-align: middle;
  font-size: 80%;
  border-bottom: 1px #e5e5e5 solid;
  empty-cells: show;
  white-space: nowrap;
  font-family: arial, sans-serif;
  width: 100px;
  padding: 2px 2px 0px 10px;
  float: left;
  overflow: hidden;
  text-overflow: ellipsis;
  min-height: 21px;
}

.inventory_price {
  height: 20px;
}

.inventory_scalable {
  vertical-align: middle;
  font-size: 80%;
  border-bottom: 1px #e5e5e5 solid;
  empty-cells: show;
  white-space: nowrap;
  font-family: arial, sans-serif;
  width: 77px;
  padding: 2px 2px 0px 10px;
  float: left;
  overflow: hidden;
  text-overflow: ellipsis;
  min-height: 21px;
}

.inventory_taxable {
  vertical-align: middle;
  font-size: 80%;
  border-bottom: 1px #e5e5e5 solid;
  empty-cells: show;
  white-space: nowrap;
  font-family: arial, sans-serif;
  width: 73px;
  padding: 2px 2px 0px 10px;
  float: left;
  overflow: hidden;
  text-overflow: ellipsis;
  min-height: 21px;
}
