{% comment %}
    Copyright 2013 Jack David Baucum

    This file is part of Orthosie.

    Orthosie is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Orthosie is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Orthosie.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}
<!DOCTYPE html>
<html>
  <head>
    <title>Orthosie Cash Register</title>
    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap-theme.min.css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
    <link rel='stylesheet' type='text/css' href='/static/css/register.css' />
    <script type="text/javascript" src="/static/js/input.js"></script>
    <meta charset="UTF-8">
  </head>
  <body>
    <script type="text/javascript">
      document.ready = function () {
        $('#transactions').scrollTop($("#transactions")[0].scrollHeight);
      };
      document.onkeypress = function(e) {
        if (e.keyCode == 13) {
          Orthosie.input.submit();
        }
        else if (e.keyCode == 32 || (e.keyCode >= 65 && e.keyCode <= 90) || (e.keyCode >= 97 && e.keyCode <= 122) || (e.keyCode >= 48 && e.keyCode <= 57)) {
          Orthosie.input.append(String.fromCharCode(e.keyCode));
        }
      }
      document.onkeydown = function(e) {
        if (e.keyCode == 8) {
          Orthosie.input.backspace();
        }
      }
    </script>
    <div id='input'>
{% include "register/input.html" %}
    </div>
    <div id='transactions' class="container">
{% include "register/transactions.html" %}
    </div>
    <div id='totals'>
{% include "register/totals.html" %}
    </div>
{% include "register/numpad.html" %}
    <form id="csrf_token">
{% csrf_token %}
    </form>
  </body>
</html>
