<!DOCTYPE html>
<html>
  <head>
    <title>Orthosie Cash Register</title>
    <link rel='stylesheet' type='text/css' href='/static/css/register.css' />
    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <script type="text/javascript" src="/static/js/numpad.js"></script>
    <meta charset="UTF-8">
  </head>
  <body>
    <script type="text/javascript">
      document.onkeyup = function(e) {
        console.log(e.keyCode);
        if (e.keyCode == 8) {
          Orthosie.numpad.backspace();
        }
        else if (e.keyCode == 32 || e.keyCode >= 64 && e.keyCode <= 90) {
          Orthosie.numpad.append(String.fromCharCode(e.keyCode));
        }
      }
    </script>
    <div id='input'>
{% include "register/input.html" %}
    </div>
    <div id='transactions'>
{% include "register/transactions.html" %}
    </div>
    <div id='totals'>
{% include "register/totals.html" %}
    </div>
{% include "register/numpad.html" %}
  </body>
</html>
