<!--
    Copyright 2013 Jack David Baucum

    This file is part of Orthosie.

    Orthosie is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Orthosie is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Orthosie.  If not, see <http://www.gnu.org/licenses/>.
-->
<!DOCTYPE html>
<html>
  <head>
    <title>Orthosie Cash Register</title>
    <link rel='stylesheet' type='text/css' href='/static/css/register.css' />
    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <script type="text/javascript" src="/static/js/input.js"></script>
    <meta charset="UTF-8">
  </head>
  <body>
    <script type="text/javascript">
      document.ready = function () {
        $('#transactions').scrollTop($("#transactions")[0].scrollHeight);
      };
      document.onkeyup = function(e) {
        if (e.keyCode == 8) {
          Orthosie.input.backspace();
        }
        if (e.keyCode == 13) {
          Orthosie.input.submit();
        }
        else if (e.keyCode == 13 || e.keyCode == 32 || (e.keyCode >= 64 && e.keyCode <= 90) || (e.keyCode >= 48 && e.keyCode <= 57)) {
          Orthosie.input.append(String.fromCharCode(e.keyCode));
        }
        else if (e.keyCode >= 96 && e.keyCode <= 105) {
          Orthosie.input.append(String.fromCharCode(e.keyCode - 48));
        }
      }
    </script>
    <div id='input'>
{% include "register/input.html" %}
    </div>
    <div id='transactions'>
{% include "register/transactions.html" %}
    </div>
    <div id='totals'>
{% include "register/totals.html" %}
    </div>
{% include "register/numpad.html" %}
  <form id="csrf_token">
    {% csrf_token %}
  </form>
  </body>
</html>
