<div id='numpad'>
  <div id='numpad_numbers'>
    <div id='first_row'>
      <span class='numpad_number' onclick='Orthosie.numpad.append(7);'>7</span>
      <span class='numpad_number' onclick='Orthosie.numpad.append(8);'>8</span>
      <span class='numpad_number' onclick='Orthosie.numpad.append(9);'>9</span>
    </div>
    <div id='second_row'>
      <span class='numpad_number' onclick='Orthosie.numpad.append(4);'>4</span>
      <span class='numpad_number' onclick='Orthosie.numpad.append(5);'>5</span>
      <span class='numpad_number' onclick='Orthosie.numpad.append(6);'>6</span>
    </div>
    <div id='third_row'>
      <span class='numpad_number' onclick='Orthosie.numpad.append(1);'>1</span>
      <span class='numpad_number' onclick='Orthosie.numpad.append(2);'>2</span>
      <span class='numpad_number' onclick='Orthosie.numpad.append(3);'>3</span>
    </div>
    <div id='fourth_row'>
      <span class='numpad_number' onclick='Orthosie.numpad.append(0);'>0</span>
      <span class='numpad_number' onclick='Orthosie.numpad.backspace();'>Back</span>
    </div>
  </div>
  <div id='numpad_enter'>
    <span>Enter</span>
  </div>
</div>
