<div id='numpad'>
  <div id='numpad_numbers'>
    <div id='first_row'>
      <span class='numpad_number' onclick='Orthosie.numpad.click(7);'>7</span>
      <span class='numpad_number' onclick='Orthosie.numpad.click(8);'>8</span>
      <span class='numpad_number' onclick='Orthosie.numpad.click(9);'>9</span>
    </div>
    <div id='second_row'>
      <span class='numpad_number' onclick='Orthosie.numpad.click(4);'>4</span>
      <span class='numpad_number' onclick='Orthosie.numpad.click(5);'>5</span>
      <span class='numpad_number' onclick='Orthosie.numpad.click(6);'>6</span>
    </div>
    <div id='third_row'>
      <span class='numpad_number' onclick='Orthosie.numpad.click(1);'>1</span>
      <span class='numpad_number' onclick='Orthosie.numpad.click(2);'>2</span>
      <span class='numpad_number' onclick='Orthosie.numpad.click(3);'>3</span>
    </div>
  </div>
  <div id='numpad_enter'>
    <span>Enter</span>
  </div>
</div>
