{% comment %}
    Copyright 2013 Jack David Baucum

    This file is part of Orthosie.

    Orthosie is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Orthosie is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Orthosie.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

<div id='numpad'>
  <div id='numpad_keys'>
    <div class="row">
      <div id='first_row' class='btn-group col-xs-12'>
        <button class='btn btn-primary btn-lg numpad_key numpad_sm col-xs-4' data-key="7">7</button>
        <button class='btn btn-primary btn-lg numpad_key numpad_sm col-xs-4' data-key="8">8</button>
        <button class='btn btn-primary btn-lg numpad_key numpad_sm col-xs-4' data-key="9">9</button>
      </div>
      <div id='second_row' class='btn-group col-xs-12'>
        <button class='btn btn-primary btn-lg numpad_key numpad_sm col-xs-4' data-key="4">4</button>
        <button class='btn btn-primary btn-lg numpad_key numpad_sm col-xs-4' data-key="5">5</button>
        <button class='btn btn-primary btn-lg numpad_key numpad_sm col-xs-4' data-key="6">6</button>
      </div>
      <div id='third_row' class='btn-group col-xs-12'>
        <button class='btn btn-primary btn-lg numpad_key numpad_sm col-xs-4' data-key="1">1</button>
        <button class='btn btn-primary btn-lg numpad_key numpad_sm col-xs-4' data-key="2">2</button>
        <button class='btn btn-primary btn-lg numpad_key numpad_sm col-xs-4' data-key="3">3</button>
      </div>
      <div id='fourth_row' class='btn-group col-xs-12'>
        <button class='btn btn-primary btn-lg numpad_key numpad_sm col-xs-4' data-key="0">0</button>
        <button class='btn btn-warning btn-lg numpad_key numpad_sm col-xs-8' data-key="back">Back</button>
      </div>
      <div id='numpad_enter' class='btn-group col-xs-12'>
        <button class='btn btn-success btn-lg numpad_key col-xs-12 ' data-key="enter">Enter</button>
      </div>
    </div>
  </div>
</div>
