{% comment %}
    Copyright 2013 Jack David Baucum

    This file is part of Orthosie.

    Orthosie is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Orthosie is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Orthosie.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}
  <div class="col-xs-3">
    <div class="input-group input-group-lg">
      <span id="sub_total_header" class="input-group-addon">SubTotal</span>
      <span id="sub_total_value" class="total_value form-control">${{ transaction_total.sub_total }}</span>
    </div>
  </div>

  <div class="col-xs-3">
    <div class="input-group input-group-lg">
      <span id='tax_total_header' class='input-group-addon'>Tax</span>
      <span id='tax_total_value' class='total_value form-control'>${{ transaction_total.tax_total }}</span>
    </div>
  </div>

  <div class="col-xs-3">
    <div class="input-group input-group-lg">
      <span id='paid_header' class='input-group-addon'>Paid</span>
      <span id='paid_total_value' class='total_value form-control'>${{ transaction_total.paid_total }}</span>
    </div>
  </div>

  <div class="col-xs-3">
    <div class="input-group input-group-lg">
      <span id='total_header' class='input-group-addon'>Total</span>
      <span id='total_value' class='total_value form-control'>${{ transaction_total.total }}</span>
    </div>
  </div>
