{% comment %}
    Copyright 2013 Jack David Baucum

    This file is part of Orthosie.

    Orthosie is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Orthosie is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Orthosie.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <title>Orthosie Inventory Management</title>
    <script data-main="{% static 'inventory/js/inventory.js' %}" src="{% static '/static/js/require.js' %}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/static/css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static '/static/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/static/css/bootstrap-theme.min.css' %}">
    <link rel='stylesheet' type='text/css' href='{% static 'inventory/css/inventory.css' %}' />
    <meta charset="UTF-8"/>
  </head>
  <body data-tab="upc">
    <form id="csrf_token">
{% csrf_token %}
    </form>
    <ul class="nav nav-pills">
      <li class="active"><a href="#upc" data-toggle="pill">UPC <i class="fa fa-shopping-cart"></i></a></li>
      <li><a href="#plu" data-toggle="pill">PLU <i class="fa fa-lemon-o"></i></a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="upc">
        <table id="grocery-list" class="table table-striped table-hover table-condensed table-responsive ">
          <tbody>
  {% for grocery in grocery_items %}
            <tr id="{{ grocery.upc }}" class="grocery-row" data-id="{{ grocery.id }}">
              <td id="{{ grocery.upc }}_upc" class="grocery-upc form-control-static">{{ grocery.upc }}</td>
              <td id="{{ grocery.upc }}_vendor_name" class="grocery-vendor-name form-control-static"><span id="{{ grocery.upc }}_vendor" class="vendor-name" data-upc="{{ grocery.upc }}">{{ grocery.vendor.name }}</span> <span id="{{ grocery.upc }}_name" class="grocery-name" data-upc="{{ grocery.upc }}">{{ grocery.name }}</span></td>
              <td id="{{ grocery.upc }}_price" class="grocery-price form-control-static" data-upc="{{ grocery.upc }}">{{ grocery.price }}</td>
              <td id="{{ grocery.upc }}_scalable" class="grocery-scalable" data-upc="{{ grocery.upc }}">{{ grocery.scalable|yesno:"Scalable, Non-Scalable," }}</td>
              <td id="{{ grocery.upc }}_taxable" class="grocery-taxable" data-upc="{{ grocery.upc }}">{{ grocery.taxable|yesno:"Taxable, Non-Taxable," }}</td>
            </tr>
  {% endfor %}
            <tr>
              <td id="grocery_upc" class="grocery-upc">
                <input class="form-control new-inventory" type="text" required pattern="\d+" placeholder="upc"/>
              </td>
              <td id="grocery_vendor_name" class="grocery-vendor-name form-inline">
                <span id="grocery_vendor">
                  <input class="form-control new-inventory" type="text" required placeholder="Vendor"/>
                </span>
                <span id="grocery_name">
                  <input class="form-control new-inventory" type="text" required placeholder="Name"/>
                </span>
              </td>
              <td id="grocery_price" class="grocery-price">
                <input class="form-control new-inventory" type="number" required placeholder="Price" step="0.01" min="0"/>
              </td>
              <td id="grocery_scalable" class="grocery-scalable">Non-Scalable</td>
              <td id="grocery_taxable" class="grocery-taxable">Taxable</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="tab-pane" id="plu">
        <table id="produce-list" class="table table-striped table-hover table-condensed table-responsive ">
          <tbody>
  {% for produce in produce_items %}
            <tr id="{{ produce.plu }}" class="produce-row" data-id="{{ produce.id }}">
              <td id="{{ produce.plu }}_plu" class="produce-plu form-control-static">{{ produce.plu }}</td>
              <td id="{{ produce.plu }}_name" class="produce-name form-control-static" data-plu="{{ produce.plu }}">{{ produce.name }}</td>
              <td id="{{ produce.plu }}_variety" class="produce-variety form-control-static" data-plu="{{ produce.plu }}">{{ produce.variety }}</td>
              <td id="{{ produce.plu }}_size" class="produce-size form-control-static" data-plu="{{ produce.plu }}">{{ produce.size }}</td>
              <td id="{{ produce.plu }}_botanical" class="produce-botanical form-control-static" data-plu="{{ produce.plu }}">{{ produce.botanical }}</td>
              <td id="{{ produce.plu }}_price" class="produce-price form-control-static" data-plu="{{ produce.plu }}">{{ produce.price }}</td>
              <td id="{{ produce.plu }}_scalable" class="produce-scalable" data-plu="{{ produce.plu }}">{{ produce.scalable|yesno:"Scalable, Non-Scalable," }}</td>
              <td id="{{ produce.plu }}_taxable" class="produce-taxable" data-plu="{{ produce.plu }}">{{ produce.taxable|yesno:"Taxable, Non-Taxable," }}</td>
            </tr>
  {% endfor %}
            <tr>
              <td id="produce_plu" class="grocery-plu">
                <input class="form-control new-inventory" type="text" required pattern="\d+" placeholder="PLU"/>
              </td>
              <td id="produce_name">
                <input class="form-control new-inventory" type="text" placeholder="Name"/>
              </td>
              <td id="produce_variety" class="grocery-variety">
                <input class="form-control new-inventory" type="text" placeholder="Variety"/>
              </td>
              <td id="produce_size" class="grocery-size">
                <input class="form-control new-inventory" type="text" placeholder="Size"/>
              </td>
              <td id="produce_botanical" class="grocery-botanical">
                <input class="form-control new-inventory" type="text" placeholder="Botanical"/>
              </td>
              <td id="produce_price" class="produce-price">
                <input class="form-control new-inventory" type="number" required placeholder="Price" step="0.01" min="0"/>
              </td>
              <td id="produce_scalable" class="produce-scalable">Non-Scalable</td>
              <td id="produce_taxable" class="produce-taxable">Taxable</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
